html {
    font-family: monospace;
    background-color: beige;
}

caption {
    font-size: 30px;
    border: 2px black solid;
    background-color: cornsilk;
    border-radius: 15px 15px 0px 0px;
}

p {
    font-size: 15px;
    text-align: center;
}

td,
#erveny {
    border: 1px black solid;
    padding: 3px 5px;
}

th,
.szam,
#erveny {
    border: 2px black solid;
    padding: 3px 10px;
    font-weight: bold;
}

td,
th {
    font-size: 20px;
}

#erveny {
    font-size: 15px;
    background-color: cornsilk;
    border-radius: 0px 0px 15px 15px;
}

#center {
    width: 760px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
}

tr:nth-child(even) {
    background-color: cornsilk;
}

tr:hover,
#napok,
#erveny,
thead {
    background-color: black;
    color: beige;
}

/* TOOLTIP */
.tooltip .tooltiptext {
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.678);
    border: 1px solid #33d10c;
    color: #33d10c;
    text-align: center;
    max-width: fit-content;
    padding: 5px;
    border-radius: 6px;
    position: absolute;
    margin-left: 10px;
    font-size: 15px;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}