html {
    font-family: monospace;
    background-color: beige;
}

caption {
    font-size: 30px;
    border: 2px black solid;
    background-color:cornsilk;
}

p {
    font-size: 15px;
    text-align: center;
}

td,
#erveny {
    border: 1px black solid;
    padding: 3px 5px;
}

th, .szam, #erveny {
    border: 2px black solid;
    padding: 3px 10px;
    font-weight: bold;
}

td,
th {
    font-size: 20px;
}

#erveny {
    font-size: 15px;
    background-color:cornsilk;
}

#center {
    width: 760px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
}

tr:nth-child(even) {
    background-color:cornsilk;
}

tr:hover, #napok, #erveny, thead {
    background-color: black;
    color: beige;
}

/*
.tablazat {
    width: 70%;
    background-color: #808080;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 20px 10px 50px white;
    text-align: center;
}

td {
    height: 30px;
    padding: 15px;
    text-align: left;
    box-shadow: 20px 10px 50px black;
}

table, th, td {
    border: 2px solid white;
}

th {
    height: 50px;
    background-color: #666666;
    box-shadow: 20px 10px 50px beige;
}

body {
    color: white;
    background-color: #666666;
}

tr:hover {
    background-color: black;
}

tr:nth-child(even) {
    background-color: #667;
    color: black;
}

p {
    text-align: center;
    font-size: 150%;
}
*/